*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 18px;
  background-color: #0d192b;
  height: 100vh; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }
