html {
  font-size: 62.5%;
}

body {
  font-size: 18px;
  background-color: $very-dark-blue;
  height: 100vh;
  font-family: $primary-font;
}

main {
  height: calc(100% - 3rem);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
